@model IEnumerable<JALLPITASBAdmin.Models.RegistroVisita>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-gradient-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de visitas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-gradient-primary text-white">
                    <tr>
                        <th>Ci</th>
                        <th>Nombre</th>
                        <th>Celular</th>
                        <th>Persona</th>
                        <th>Departamento</th>
                        <th>Proceso</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tfoot class="bg-gradient-primary text-white">
                    <tr>
                        <th>Ci</th>
                        <th>Nombre</th>
                        <th>Celular</th>
                        <th>Persona</th>
                        <th>Departamento</th>
                        <th>Proceso</th>
                        <th>Fecha</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.RegistroVisitaId">@Html.DisplayFor(modelItem => item.Ci)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoPersona)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreProceso)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FechaVisita))
                            @*@Html.DisplayFor(modelItem => item.FechaVisita)*@

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>