@model JALLPITASBAdmin.Models.Carpeta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carpeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDCarpeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDCarpeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgrupacionSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgrupacionSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuerpos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuerpos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fojas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fojas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poligono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poligono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarpetaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
